@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--light-blue);
}


.container {
	max-width: 800px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;

}
.img-area {
	position: relative;
	background: var(--grey);
    width: fit-content;
	height: fit-content;
    margin: auto;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	object-fit: cover;
	

}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
	padding: 8px;
	
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 50%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}
.upload-image {
	display: block;
	width: 50%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;

}
.upload-image:hover {
	background: var(--dark-blue);
}
.upload-btn{
    margin: auto;
    width:82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-area{
    font-weight: bold;
    
    width: 80%;
    display: flex;
    align-self: center;
    margin: auto;
    flex-direction: column;
}
.textArea-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textArea-1 input{
    width: 80%;
    
}
.textArea-1::placeholder{
    color: white;
    background-color: #005DD1;
}
.textArea-2 {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textArea-2 input{
    width: 80%;
}
.text-area input{
    border-radius:.5rem ;
    border:1px solid darkgrey;
    padding: 10px;
    margin-top: 12px;
}
.text-area textarea{
    margin-top: 12px;
    border-radius:.5rem ;
    border:1px solid darkgrey;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
}

.text-area input:hover ,.text-area textarea:hover{
    border: 1px solid var(--blue);
}
.text-area:active{
    border:none;
}

@media(max-width:991px) {
    header .navigation {
        display: none;
    }

    header .hamburger {
        display: block;
    }
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }